<ng-container *ngIf="racha$ | async; let racha">
	<mat-card>
		<mat-card-header>
			<mat-card-title>
				<button mat-icon-button (click)="back()"><mat-icon>navigate_before</mat-icon></button>
				Racha de {{racha.nome}}
				<button mat-icon-button (click)="admin(racha)"><mat-icon>edit</mat-icon></button>
			</mat-card-title>
			<mat-card-subtitle *ngIf="racha.status == 'aberto'">
				{{racha.mensalistas.length == 0 ? 'ninguem confirmado.' : (racha.mensalistas.length == 1 ? 'Um mensalista confirmado.' : racha.mensalistas.length + 'mensalistas confirmados')}}
			</mat-card-subtitle>
		</mat-card-header>
		<mat-card-content>
			<mat-list>
				<mat-list-item *ngFor="let jogador of racha.mensalistas">
					<img mat-list-avatar [src]="jogador.photoURL">
					<h4 mat-line>{{jogador.displayName}}</h4>
				</mat-list-item>
			</mat-list>
		</mat-card-content>
	</mat-card>

	<mat-card *ngIf="racha.convidados.length">
		<mat-card-header>
			<mat-card-title>Convidados</mat-card-title>
			<mat-card-subtitle>{{racha.convidados.length == 0 ? 'nenhum convidado.' : (racha.convidados.length == 1 ? 'Um convidado.' : racha.convidados.length + 'convidados')}}</mat-card-subtitle>
		</mat-card-header>
		<mat-card-content>
			<mat-list>
				<mat-list-item *ngFor="let jogador of racha.convidados">
					<img mat-list-avatar [src]="jogador.photoURL">
					<h4 mat-line>{{jogador.displayName}}</h4>
				</mat-list-item>
			</mat-list>
		</mat-card-content>
	</mat-card>
</ng-container>
