<h2 mat-dialog-title>Adicionar Atuação</h2>
<mat-dialog-content>
	<form [formGroup]="form">
		<mat-form-field>
			<mat-select placeholder="Jogador" [formControlName]="'jogador'">
				<mat-option *ngFor="let jogador of jogadores" [value]="jogador">
					{{ jogador.displayName }}
				</mat-option>
			</mat-select>
		</mat-form-field>
		<mat-form-field>
			<input matInput type="number" placeholder="Gols" [min]="0" formControlName="gols">
		</mat-form-field>
		<mat-slider tickInterval="1" [max]="3" [formControlName]="'vitorias'"></mat-slider>
	</form>
</mat-dialog-content>
<mat-dialog-actions>
	<button mat-button mat-dialog-close>Cancelar</button>
	<button mat-button (click)="close()">Adicionar</button>
</mat-dialog-actions>
